@charset "utf-8";

/* 스벅 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */ /* 상단영역, 하단영역 반복디자인 */


:root {
   --sb-color: #29412a;
   --linear-gradient: 45deg, #2d3a45db, transparent;
   --fill-color1: rgb(246, 224, 224);
   --fill-color2: rgb(214, 231, 236);
   --fill-color3: rgb(207, 210, 233);
   --body-color: #f6f3f0;

}

.font1{
   font-size: clamp(1.5rem, 3vw, 5rem);
}
.font2{
   font-size: clamp(1.2rem, 2.5vw, 4rem);
}
.font3{ 
   font-size: clamp(1rem, 1.5vw, 1.2rem);
}
.font4{
   font-size: clamp(0.8rem, 1.2vw, 1.5rem); /* 최소값, 보통값, 최대값 */
   /* 글꼴 크기를 최소값으로 12px, 최대값으로 24px, 보통값으로 viewport 너비의 2%를 사용하여 지정했습니다. 이렇게 하면 화면 크기가 변할 때 글꼴 크기가 유동적으로 조절됩니다. */
}


/*________________ 1.상단영역 ________________*/
html {
   scroll-behavior: smooth; /* 부드러운 스크롤을 활성화함 */
 }

body {
   background-color: var(--body-color);
   
}

/* 마우스커서 */
body > .cursor {
   z-index: 10;
   position: fixed;
   top: 0;
   left: 0;
   width: 80px;
   height: 80px;
   background: url(../images/starbucks-logo-starbucks-icon-transparent-free.png)
     no-repeat center/cover;
   border-radius: 50%;
   animation: logoani 2.5s linear infinite;
   transform-origin: center center;
   pointer-events: none;
 }
 /* 젤큰원 돌리기 */
 @keyframes logoani {
   100% {
     transform: rotate(360deg);
   }
 }
 
 /* 젤큰원 가운데 색채우기 */
 body > .cursor > .cursorin {
   position: relative;
   width: 40px;
   height: 40px;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   background-color: var(--sb-color);
   border-radius: 50%;
   pointer-events: none;
 }
 /* 겹치는 작은원 */
 body > .cursor > .inCircle {
   position: relative;
   width: 40px;
   height: 40px;
   top: 0%;
   left: 50%;
   translate: -50% -50%;
   background: url("../images/starbucks-logo-starbucks-icon-transparent-free.png")
     center center / 80px 80px no-repeat;
   border-radius: 50%;
   transform-origin: center center;
   animation: 0.6s ease-in 0s infinite alternate none running logoani2;
   pointer-events: none;
 }
 
 /* 작은원y축돌리기 */
 @keyframes logoani2 {
   100% {
     transform: rotateY(90deg);
   }
 }
 
 /* 고정된 탑 앤드버튼 */
 body > .fixed {
   top: 90%;
   left: 100%;
   translate: -100%;
   border-radius: 100px 0px 0px 100px;
   z-index: 10;
   width: 90px;
   height: 33px;
   background-color: rgba(0, 0, 0, 0.86);
   position: fixed;
 }
 
 /* 고정버튼 내부글씨 */
 body > .fixed > a {
   font-size: 1.2rem;
   margin: 0px 13%;
   line-height: 33px;
   color: rgb(255, 255, 255);
 }
 
 /* 탑 회색부분 높이 */
 .top-area {
   height: 10vh;
 }
 

#top-area h1 {
   height: 10vh;
   background-color: #3b3b3b;
   width: 100%;
   position: absolute;
   /* 열린랩박스넘치는부분 */
   overflow: hidden;
}

/* 로고관련 */
h1.logo>a {
   /* 로고img들 부모박스 */
   position: absolute;
   padding: 10px;
}
h1.logo>a:first-child {
   /* 세이렌박스 */
   z-index: 10;
   padding-top: 5px;
   position: fixed;
}

h1.logo a:nth-of-type(2) {
   /* 중앙로고박스 */
   left: 50%;
   /* 중앙으로이동( 내부 이미지만큼 늘어난 부모박스) */
   transform: translateX(-50%);
}
h1.logo a:nth-of-type(1) > img {
   /* 세이렌 이미지 */
   width: 40px;
   width: max(min(10vw, 35px), 30px);
}

h1.logo a:nth-of-type(2) > img:first-of-type {
   /* 중앙로고 이미지 */
   /* 최대크기 200px,최소크기 100px적용 */
   width: max(min(20vw, 150px), 95px);
}


/* 랩박스동영상 */
   /* <video autoplay loop>
   <source src="./images/Starbucks_First50Years.mp4" type="video/mp4">
   Your browser does not support the video tag.
 </video> */
video {
   left: 50%;
   translate: -50% 0;
   position: relative;
   scale: 2;
   top: 20%;
   width: 60%;
   border-radius: 100px;
}
/* 랩박스의 부모박스 */
.wrap-box {
   z-index: 5;
   /* 스크롤과 상관없이 열리게 하려고 fixed */
   position: fixed;
   /* 화면영역만큼 */
   width: 100vw;
   height: 100vh;
   /* 트랜지션시 넘치는 부분 숨기기 */
   overflow: hidden;
   /* wrap-box가 마우스 이벤트를 캡처하지 않도록 설정
다른요소보다 높아서 다른것 호버나 선택 안되어서 줌 */
   pointer-events: none;
}

/* 랩박스 원본 공통 */
.wrap-box > .logo-wrap {
   /* 가려지지않게 */
   z-index: 5;
   position: absolute;
   /* 자식은 마우스이벤트 가능 */
   pointer-events: all;
}

/* 랩박스 원본 개별*/
.logo-wrap.n01 {
   left: -100%;
   height: 100vh;
   width: 50%;
   background-color: var(--body-color);
   border-radius: 0 50px 50px 0;
   /* 투명도 0>1트랜지션 원본 */
   opacity: 0;
   /* 트랜지션개별 */
   transition: 0.4s ease-in-out;
}
.logo-wrap.n02 {
   height: 100%;
   top: 100vh;
   width: 50%;
   left: 50%;
   background-color: var(--sb-color);
   border-radius: 50px 50px 0px 0px;
   opacity: 0;
   /* 트랜지션개별(시간차이줌) */
   transition: 0.2s ease-in-out 0.4s;
}
.logo-wrap.n03 {
   position: absolute;
   height: 0vh;
   width: 0vh;
   left: 100%;
   background-color: #000000;
   border-radius: 50%;
   opacity: 0;
   /* 트랜지션개별(시간차이줌) */
   transition: 0.5s ease-in-out 0.5s;
}

/* 세이렌 또는 열린랩박스 1 호버시 1,2,3 랩박스 각각 이동시키기 */

/* 세이렌호버시 형제관계 랩박스의 직계자식중 n01, */
/* 랩박스 호버시 직계자식중 첫번째자식 */
h1.logo a:nth-of-type(1):hover ~ .wrap-box > .n01,
.wrap-box:first-of-type:hover > .logo-wrap:first-child {
   left: 0;
   opacity: 1;
}
/* 세이렌호버시 형제관계 랩박스의 직계자식중 n02, */
/* 랩박스 호버시 직계자식중 두번번째자식 */
h1.logo a:nth-of-type(1):hover ~ .wrap-box > .n02,
.wrap-box:first-of-type:hover > .logo-wrap.n02 {
   top: 50vh;
   opacity: 1;
}
/* 세이렌호버시 형제관계 랩박스의 직계자식중 n03, */
/* 랩박스 호버시 직계자식중 클래스 일치하는자식 */
h1.logo a:nth-of-type(1):hover ~ .wrap-box > .n03,
.wrap-box:first-of-type:hover ~ .wrap-box > .n03 {
   top: -20%;
   left: -20%;
   width: 150%;
   height: 150vh;
   opacity: 0.5;
   transform-origin: bottom left;
   /* 둥근것 네모로 화면채우기 */
   border-radius: 0;
   /* 안먹음 */
   /* backdrop-filter: blur(100px);*/
   /* 트랜지션시 외곽블러 */
   filter: blur(22px);
}
.wrap-box:nth-of-type(2) {
   /* 3번째는 1,2뒤로 가도록 */
   z-index: 4;
}

/* 랩박스 내부 컨텐츠 */
.box {
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   padding: min(5.3vw,6rem);
}
.box.b01 {
   /* 넘치는 */
   overflow: hidden;
   color: var(--sb-color);
}
.box.b02 {
   color: white;
}
.box h2 {
   white-space: nowrap;
   font-size: min(4rem,4.5vw);
   padding: 1rem 0;
}
.box p {
   padding-top: 3vh;
   width: 100%;
   font-size: min(1.3rem,1.6vw);
   /* 단어줄바꿈 */
   /* word-wrap: break-word; */
   /* 텍스트가 양쪽 정렬되어 요소의 가로폭 전체에 걸쳐 균등하게 분포 */
   text-align: justify;
}

.sns-box>ol{
display: flex;
}
.sns-box>ol>li{
   display: flex;
   flex: 1;
   aspect-ratio: 25.3 / 28.9;
   text-align: center;
   align-items: center;
   justify-content: center;
}
.sns-box>ol>li>a{
   mix-blend-mode: luminosity;
   scale: 4;
}

/* 최상단 오른쪽 구석 탑메뉴 */
aside.tmenu-box {
   position: relative;
}
.tmenu {
   position: absolute;
   top: 0;
   right: 0%;
   width: 22vw;
   /* 수평 방향 중앙 정렬 */
   justify-content: right;
   /* 호버가안되어 줌 */
   /* 로고박스에 밀려서올림 */
   z-index: 1;
}
.tmenu li a {
   /* 인라인이라 높이적용위해 */
   display: inline-block;
   color: #808080;
   padding: 0 5px;
   /* 줄넘김방지 */
   white-space: nowrap;
   font-size: min(1.2rem,1.5vw);
   font-weight: normal;
}
.tmenu li a:hover {
   color: #ffffff;
}

/* gnb 메뉴 *********************************************/

/* gnb 메뉴 스티키 적용위해 부모박스 만듬 */
/* ________________________________ */
.top-area span {
   /* 스티키 영향구역 높이조절 body만큼(바디가 부모) */
   height: 100%;
   /* 인박스너비 채움 */
   width: 100%;
   /* 부모자격 */
   position: absolute;
   /* 이게 필요헀음 */
   top: 10vh;
   /* 화면이 다 덮여서 다른요소선택위해 */
   pointer-events: none;
   /* ________________________________ */
}


nav.gnb {
   display: flex;
   align-items: center;

   width: 100%;
   /* 스크롤시 부모영역내 상단고정 */
   position: sticky;
   top: 0px;
   background-image: linear-gradient(var(--linear-gradient));
   background-color: var(--sb-color);
   box-sizing: border-box;
   height: 40px;
   z-index: 3;
   /* 마우스 막아논 span의 자식요소인 
   얘(네비)는 선택가능하도록 */
   pointer-events: all;
}
/* 잘리지않게  */
.gnb > li > a:first-of-type {
   display: inline;
}

/* 호버시 보이게할 가상요소 */
.gnb > li::after {
   content: "●";
   color: #fff;
   display: inline-block;
   margin-left: -1px;
   transform: scale(0.6);
   opacity: 0;
   transition: 0.3s;
}
/* 호버 */
.gnb > li:hover::after {
   opacity: 1;
}

ul.gnb {
   /* 플랙스박스적용 되있음 */
   width: 80%;
   margin: 0 auto;
}
/* 중앙정렬 */
.gnb > li.menu {
   white-space: nowrap;
   text-align: center;
   width: 20%;
   transition: 0.5s, background-color 0.5s 0.2s;
}

.gnb li {
   margin: 0 auto;
   padding: 5px 0;
}
/* ___________________________JS on/off */
/* gnb 호버시 개별박스 디자인  */
.gnbOn {
   box-shadow: rgba(241, 251, 255, 0.89) 0px 0px 3px 1px;
   border-radius: 0px;
   background-color: #ffffff24;
}
/* ol 호버시 첫번째 ol 디자인  */
.olOn {
   background-color: #ffffff24;
}

.gnb li a {
   text-align: center;
   /* 너비지정위해 블록설정 */
   display: block;
   /* 블록박스 중앙정렬 */
   margin: 0px auto;
   width: 15vw;
   color: #9f9f9f;
}
ul.gnb a:hover {
   color: #ffffff;
}

/* gnb의 서브메뉴 ************************************/
.submenu {
   position: absolute;
   top: 85%;
   /* 보이지않도록 원본 높이 0  */
   height: 0px;
   overflow: hidden;
   left: 0;
   right: 0;
   background-color: var(--sb-color);
   border-radius: 0 0 40px 40px;
   /* 트랜지션 */
   transition: max-height 0.6s ease-in-out;
}
/* 서브메뉴 높이조절되는 랩핑박스 - 플렉스박스 */
.sub-wrap {
   background-image: linear-gradient(var(--linear-gradient));
   display: flex;
}

/* 서브메뉴 내부 ol */
.sub-wrap ol {
   margin: 20px 0px;
   margin-top: 1vw;
   width: 100%;
   /* 원본 투명도 0 */
   opacity: 0;
   /* 트랜지션 */
   transition: 0.6s ease-in-out;
   /* margin: auto auto; */
}
.gnb .menu:hover .submenu ol {
   /* 서브메뉴 내부 ol 호버시  투명도 1 */
   opacity: 1;
   top: 0;
}

/* 많은 ol의 첫번째 li의 첫번째 a만 선택  */
.submenu ol > li:first-child > a:first-child {
   font-weight: bold;
   font-size: 1.1rem;
   transition: 0.3s;
}
/*________________ 2. 롤링배너 영역 _____________*/

.ban-area {
   height: 90vh;
 }

.ban-area .visualView {
   /* 정렬: 기본 left */
   position: relative;
   z-index: 0;
   display: flex;
   height: 100%;
   overflow: hidden;
   /* ★★★ 설정안했을때 기본이 left: auto라서 
   0으로 초기값 해주지 않으면 첫 left 트랜지션이 작동안함  */
   left:0;
}

/* 넘치는 visualView영역 숨기기 */
.ban-area.inbox {
   position: relative;
   overflow: hidden;
 }

.ban-area .visualView .bg {
   background-position: center;
   background-size: cover;
   transition: 1s ease-in-out;
}
.ban-area .visualView .img1 {
   background: url(../images/main_ban2.jpg) no-repeat right center/cover;
   width: 20%;
}
.ban-area .visualView .img2 {
   /* 중앙베너 */
   background-image: url(../images/main_ban1.jpg);
   width: 80%;
}
.ban-area .visualView .img3 {
   background-image: url(../images/main_ban3.jpg);
   width: 20%;
}
/* 호버시 확장 */
.visualView .bg:hover {
   display: block;
   width: 200%;
   scale: 1.1;
   /* 호버시 어두웠던 필터 none */
   filter: none;
   z-index: 1;
   filter: grayscale(0%) brightness(100%);
}
/* js 적용전 다 어둡게 */
.visualView .bg{
   filter: grayscale(100%) brightness(0.8);
}
/* [ js) '중앙이미지만'오버시 .center 클래스 넣고 빼기 ] */
.visualView .bg.center {
   filter: grayscale(0%) brightness(100%);
}

/* 피그캡션배경 */
.ban-area .visualView .bg::after {
   content: "";
   display: block;
   background: #000;
   width: 100%;
   height: 100%;
   opacity: 0.25;
   display: none;
}
/* 피그캡션배경 호버시 */
.ban-area .visualView .bg:hover::after {
   display: block;
}
/* 피그캡션 글 */
.ban-area .visualView .bg span {
   /* 포인트 이벤트비활성화 */
   pointer-events: none;
   /* 제목 */
   position: absolute;
   top: 40%;
   left: 10%;
   color: #fff;
   font-size: 2rem;
   font-weight: bold;
   /* 초기에는 투명 상태로 설정 */
   opacity: 0;
   /* 투명도에 대한 변화를 부드럽게 적용 */
   transform: rotate(45deg) scaleX(0.1);
   transition: all 1s ease;
   z-index: 1;
}
/* 호버시 span */
.ban-area .visualView .bg:hover span {
   /* 버튼 부모박스 포인터비활성화 */
   pointer-events: none;
   height: 60px;
   font-size: 4rem;
   opacity: 1;
   transform: rotate(0deg) scaleX(1);
}
.ban-area .visualView .bg p {
   /* 내용 */
   position: absolute;
   font-size: 1.2rem;
   font-weight: normal;
   text-align: left;
   opacity: 0;
   /* 트렌지션 시간 따로 줌 */
   transition: 1.5s 0.4s;
}
/* 호버시 p */
.ban-area .visualView .bg:hover p {
   opacity: 1;
}

/* 사진별 a버튼 */
.bg a {
      /* 자식 버튼은 클릭가능하게 */
      pointer-events: all;
   padding: 0.4vw 0.6vw;
   font-size: min(1.3rem, 1vw);
   font-weight: normal;
   color: #fff;
   background-color: var(--sb-color);
   border-radius: 1vw;
   width: 6vw;
   height: 1.5vw;
   position: relative;
   display: block;
   top: 160%;
   opacity: 0;
   
   text-align: center;
}
/* 호버시 a */
.ban-area .visualView .bg:hover a {
   opacity: 1;
}

/* 버튼부모박스 */
.bg-arr {
   /* 버튼부모박스 가운데정렬 */
   left: 50%;
   translate: -50%;
     /* 버튼만 포인터활성화 */
     pointer-events: all;
   position: absolute;
   top: 50%;
   width: 95vw;
   text-align: center;
   line-height: 10vw;
/* 플랙스 */
   display: flex;
   justify-content: space-between;
   /* 기본숨김 */
   display:none;
    /* 부모요소영역 포인터비활성화 */
    pointer-events: none;
}

.bg-arr button {
  
   /* 자식인버튼은 클릭가능하게 */
   pointer-events: all;
   background-color: #000000bf;
   color: #fff;
   border: none;
   border-radius: 50%;
   padding: 2vh 2.5vh;
}
.bg-arr button p {
   scale: 1.5 2;
}

/*________________ 3. 라인안내 영역 ________________*/
.line-notice-area > .cont-box {
   min-height: 50px;
   flex-direction: row;
}

/* 라인안내영역 배경색,폰트색 */
.line-notice-area > .cont-box > .col-6:first-child {
   background-color: #000;
   color: #fff;
}
.line-notice-area > .cont-box > .col-6:last-child {
   background-color: #fcfaf8;
}
/* 내부 플렉스 */
.line-notice-area .cont-box .col-6 {
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
   white-space: nowrap;
   flex-wrap: nowrap;
}
/* 글씨크기변경 */
.col-6 h2 {
   padding-right: 20px;
   font-size: 1.5rem;
   font-weight: bold;
   margin: 0 auto;
}
/* 픽토그램공통 */
.col-6 a {
   margin: 0 auto;
}
.col-6 a img {
   width: 25px;
}

/* 애니적용 */
.line-notice-area.inbox .col-6> p {
   animation: ntc-ani 5s linear infinite;
}

@keyframes ntc-ani {
   0% {
      /* 시작 스타일 */
      opacity: 0;
      transform: translateY(-100%);
   }
   10%,
   90% {
      /* 중간 스타일 (지연 시간 후) */
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      /* 끝 스타일 */
      opacity: 0;
      transform: translateY(100%);
   }
}

/************* 3. 하단영역 *************/

div#footer-area {
   position: relative;
   translate: 0 25%;
}
.footer-area {
   background-image: linear-gradient(var(--linear-gradient));
   background-color: var(--sb-color);
   padding-bottom: 2vw;
 }
 
/* 푸터전체박스 */
#footer-area .col-12 {
   height: 100%;
}
/* 푸터 위아래 박스 공통 */
#footer-area .col-12 > .footer {
   height: 45%;
   width: 100%;
}
/* 상단박스 이미지 */
.col-12 > .cont1 > img {
   position: relative;
   width: 200px;
   left: 50%;

   translate: -50% -40%;
}
/* 하단박스 전체 */
/* .col-12>.cont2{} */

.col-12 > .cont2 > .info1 {
   display: flex;
   justify-content: center;
   position: relative;
   margin: 0 auto;
   font-size: 1.2rem;
   width: 30%;
   gap: 5px;
   margin-bottom: 0.5%;
}
.col-12 > .cont2 > .info1:nth-of-type(2){
   width: 20%;
   margin-bottom: 1.5%;
}
.col-12 > .cont2 > .info1:nth-of-type(2)>a{
   padding: 2% 7%;
   border-radius: 30px;
   background-color: rgba(0, 0, 0, 0.158);
   white-space: nowrap;
   border: 2px solid #fff;
   
}

.col-12 > .cont2 a {
   white-space: nowrap;
   color: #fff;
}
.col-12 > .cont2 > .info2 {
   display: flex;
   justify-content: space-evenly;
   margin: 0 auto;
   padding: 2% 0;
   width: 60%;
   opacity: 0.8;
   border-top: 2px solid var(--body-color);
   flex-wrap: wrap;

}
/* 푸터맨아래 플랙스박스 */
.col-12 > .cont2 > .info3 {
   display: flex;
   justify-content: space-evenly;
   margin: 0 auto;
   font-size: 0.7rem;
   opacity: 0.7;
}
.col-12 > .cont2 > .info3>a:first-of-type
,.info3>a:nth-of-type(4)
{
   color: lightgreen;
}