@charset "utf-8";
/* 스벅 PJ 미디어쿼리 CSS- media.css */

/* max-width를 사용한 미디어쿼리를 
큰 사이즈부터 작은사이즈 순으로 셋팅함! */

/***************** 1000 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 1000px) {
  .ban-area .visualView {
    overflow: visible;
  }

  /* 줄어들지않고 영역다채우기 */
  .ban-area .visualView .bg {
    flex-basis: 100%;
    flex-shrink: 0;
  }
  /* 원래있던 구성 무효화 덮기 !*/
  .visualView .bg:hover {
    display: block;
    width: 100%;
    scale: 1;
    filter: none;
    z-index: 1;
  }
  .visualView .bg {
    filter: none;
  }
  /* 버튼보이기 */
  .bg-arr {
    display: flex;
    /* display:visible은 쓸수없음 */
  }

  /* 리워드영역 */
  .rewards {
    flex-direction: column;
  }
  /* 리워드 스벅로고 */
  .rewards img {
    width: 30%;
  }
  .rewards > .col-3,
  .col-4 {
    width: 60%;
  }

  .rewards > .col-3:last-child > div {
    padding-bottom: 2%;
  }

    /* 상품영역 */
    .product-area {
      height: 180vw;
    }
  

  /******** 하단 ********/
  /* 푸터맨아래 플랙스박스 */
  .col-12 > .cont2 > .info3 {
    text-align: center;
    width: 50%;
    display: flex;
    margin: 0 auto;
    font-size: 0.7rem;
    opacity: 0.7;
    flex-wrap: wrap;
    align-content: center;
  }
  /* 플랙스박스 자식요소들 */
  .footer.info3 > a {
    line-height: 2;
    flex-shrink: 0;
    flex-basis: 50%;
  }

  /* 리저브 내용 */

  .reserve-area {
    height: auto;
  }
  /* 인포박스부모 */
  .reserve-area .infowrap {
    flex-direction: column;
  }
  /* 기존 50%이었던거 덮기 */
  .reserve-area .infowrap > .infobox {
    width: auto;
  }
  /* 리저브영역 이미지 */
  .reserve-area .infowrap > .infobox img {
    width: 80vw;
  }

  /* 스페셜스토어영역 */

  .store.on {
    position: relative;
    z-index: 0;
  }

  .store.on:hover {
    position: relative;
    z-index: 2;
    /* 하얀버튼글씨도 트랜지션먹어서 논해야 바로뜸 */
    transition: none;
  }

  /* 펼쳤을떄 */
  .col-12.storebox > .store:nth-child(2).on {
    transform: translate(-30%, -60%) rotate(-5deg);
  }

  .col-12.storebox > .store:nth-child(3).on {
    transform: translate(25%, -60%) rotate(-34deg);
  }

  .col-12.storebox > .store:nth-child(1).on {
    transform: translate(70%, 50%) rotate(-23deg);
  }

  .col-12.storebox > .store:nth-child(4).on {
    transform: translate(-70%, 50%) rotate(-5deg);
  }

  /* 호버시 */
  .col-12.storebox > .store:nth-child(2).on:hover {
    transform: translate(-30%, -60%) rotate(0deg);
  }

  .col-12.storebox > .store:nth-child(3).on:hover {
    transform: translate(25%, -60%) rotate(0deg);
  }

  .col-12.storebox > .store:nth-child(1).on:hover {
    transform: translate(70%, 50%) rotate(0deg);
  }

  .col-12.storebox > .store:nth-child(4).on:hover {
    transform: translate(-70%, 50%) rotate(0deg);
  }

  .col-12.storebox > .store.on {
    scale: 1.3;
  }

  /* 호버시 중앙이동 */

  .store.item2.on:hover a {
    translate: 78% 50%;
    transition: 0.3s;
  }

  .store.item3.on:hover a {
    translate: -75% 50%;
    transition: 0.3s;
  }

  .store.item1.on:hover a {
    translate: 78% -60%;
    transition: 0.3s;
  }

  .store.item4.on:hover a {
    translate: -75% -60%;
    transition: 0.3s;
  }

  /* 인포박스  */
  .store.item2.on:hover .info {
    translate: 78% 85%;
    transition: 0.3s;
  }

  .store.item3.on:hover .info {
    translate: -75% 85%;
    transition: 0.3s;
  }

  .store.item1.on:hover .info {
    translate: 78% -85%;
    transition: 0.3s;
  }

  .store.item4.on:hover .info {
    translate: -75% -85%;
    transition: 0.3s;
  }

  /* 인포박스글씨 */
  .col-12.storebox .info span {
    scale: 0.8;
    margin: 0;
  }

  .col-12.storebox > .store.on:hover .info {
    display: flex;
    opacity: 1;
    white-space: nowrap;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  /* 스페셜매장 최하단 p,버튼 */
  .bottom-Tit {
    scale: 0.8;
    filter: drop-shadow(2px 4px 6px black);
    top: 45%;
    z-index: 100;
  }
}
/***************** 1000 px 이하 미디어 쿼리 종료 *****************/

/***************** 900 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 900px) {
  .special-store-area {
    height: 1350px;
}
.store-Tit{
  top: 2%;
font-size: 7vw;
}
.store-Tit.sub {
    font-size: 2vw;
}


.col-12.storebox > .store.on {
    translate: 0 -50%;
}

.bottom-Tit {
    scale: 0.8;
    top: 62%;
}
}
/***************** 900 px 이하 미디어 쿼리 종료 *****************/

/***************** 800 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 800px) {
  .bottom-Tit {
    top: 90%;
}
}
/***************** 800 px 이하 미디어 쿼리 종료 *****************/

/***************** 700 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 700px) {

  h1.logo a:nth-of-type(2) > img:first-of-type {
    /* 중앙로고 이미지 */
    width: max(min(16vw, 150px), 95px);
 }

  /* 커서 따라오기 숨기기 */
  body > .cursor {
    display: none;
  }
  /* 탑메뉴 */
  .tmenu li a {
    /* font-size: 1rem; */
  }
  /* 네비 */
  ul.gnb {
    flex-direction: column;
    width: auto;
  }
  .gnb li {
    margin-left: auto;
  }
  /* 네비메뉴 */
  nav.gnb {
    margin-left: auto;
    overflow: hidden;
    padding-top: 50px;
    /* height: auto; */
    transition: 0.3s;
  }
  /*호버(클릭시)네비메뉴열기*/
  /* nav.gnb:hover {
    height: 100vh;
  } */
  /* 네비메뉴글씨 */
  .gnb > li > a:first-of-type {
    font-size: 1.5rem;
  }

  .gnb > li.menu {
    width: auto;
  }

  .gnb > li::after {
    display: none;
  }

  /* gnb의 서브메뉴*/
  .submenu {
    position: relative;
    top: auto;
    margin-top: 4%;
    width: 100vw;
  }

  .sub-wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sub-wrap ol {
    margin: 0 auto;
    flex-basis: 50%;
    padding: 2vw 0;
    margin-bottom: -2vw;
    width: 100%;
    opacity: 1;
  }

  .gnb li a {
    width: auto;
  }
  h1.logo > a:first-child {
    /* 세이렌박스 */
    padding-top: none;
  }

  h1.logo a:nth-of-type(1) > img {
    /* 세이렌 이미지 */
    width: 40px;
  }
  /* 하얀영어글자로고 */
  h1.logo a:nth-of-type(2) {
    transform: scale(1.5) translateX(-32%) translateY(11%);
  }
  /* gnb박스 틈새 올려매꾸기 */
  .top-area span {
    margin-top: -1px;
  }

  /* +모양 가상요소 */
  nav.gnb::before {
    position: absolute;
    content: "+";
    top: 7px;
    right: 5%;
    color: #fff;
    z-index: 10;
    font-size: 3rem;
    font-weight: bolder;
    scale: 1.5;
    line-height: 1;
    /* margin-top: -0.5%; */
    /* padding-bottom: 2%; */
    transform: rotate(0deg);
    transform-origin: center center;
    /* 트랜지션 */
    transition: 0.4s;
    transform: rotate(var(--gnb-btn-rotate, 0deg));
  }

  /* 로고 랩박스 */
  .logo-wrap.n01 {
    height: auto;
    width: 80%;
  }

  .box h2 {
    font-size: 3.5rem;
  }

  .box p {
    font-size: 1rem;
  }

  h1.logo a:nth-of-type(1):hover ~ .wrap-box > .n02, .wrap-box:first-of-type:hover > .logo-wrap.n02 {
    top: 60vh;
    width: 80%;
    left: 100%;
    border-radius: 50px 0px 0px 50px;
}
  /* 세이렌호버시 형제관계 랩박스의 직계자식중 n02, */
  /* 랩박스 호버시 직계자식중 두번번째자식 */
  h1.logo a:nth-of-type(1):hover ~ .wrap-box > .n02,
  .wrap-box:first-of-type:hover > .logo-wrap:nth-child(2) {
    left: 20%;
  }
  /* 라인안내 */

  .line-notice-area .cont-box .col-6 {
    padding: 1.5vh 0px;
    flex-direction: column;
  }
  .col-6 h2 {
    padding-right: 0px;
  }

  /* 배너이미지 가상요소  */
  .ban-area .visualView .bg span {
    left: 20%;
  }
  .ban-area .visualView .bg p {
    font-size: 1.5rem;
    width: 50vw;
  }

  /* 배너이미지 버튼 */
  /* 사진별 a버튼 */
  .bg a {
    padding: 1vw 3vw;
    font-size: 2rem;
    height: auto;

    width: fit-content;
    top: -250%;
    /* left: 15%; */
  }

  .rewards > .col-3,
  .col-4 {
    width: auto;
  }

  /* 리워드 스벅로고 */
  .rewards img {
    width: 50%;
  }
  .rewards h2 {
    font-size: 2rem;
    padding-bottom: 1vh;
  }

  /* 리워드 하단글씨 */
  .rewards .col-4 div:nth-of-type(1) > p,
  .rewards .col-4 div:nth-of-type(2) > p {
    font-size: 1.5rem;
    padding-bottom: 5%;
  }
  .rewards > div {
    width: 85%;
  }
  /* 리워드버튼 */
  .rewards .button > p {
    font-size: 2rem;
  }

  .rewards .button {
    padding: 1vw 3vw;
    border: 2px solid rgb(255, 255, 255);
  }
  /* 마지막버튼 패딩 */
  .rewards .button.b3 {
    margin-bottom: 10%;
  }

  /* 뉴스영역 */
  /* 라운드 밝은 공간부분 */

  section.news-area.inbox,
  .news-area::before {
    height: 565px;
    border-radius: 0px 0px 100px 100px;
  }

  /* 리저브탑이미지 */
  .reserve-area > .cont-box > .col-12 img.reserve1 {
    width: 80%;
  }
  .reserve-area > .cont-box > .col-12 img.reserve2 {
    width: 200%;
  }

  /* 리저브내용이미지 */
  .reserve-area .infowrap > .infobox img {
    width: 100vw;
  }

  /* 리저브마지막초록박스 */
  .reserve-area .infowrap > .infobox.b4 {
    border-radius: 0 0 0 0;
    margin: 10% 0;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-right: 0%;
    text-align: center;
    width: 100%;
  }

  /* 인포박스 p */
  .reserve-area .infowrap > .infobox p {
    font-size: 1.4rem;
  }

  .reserve-area .infowrap > .infobox.b4 > p:nth-child(2) {
    font-size: 1.1rem;
    margin: 0 auto;
    width: 49%;
    text-align: center;
    border-bottom: none;

    padding-left: 0%;
  }

  /*________________ 8. 스페셜 매장 ________________*/

  .col-12.storebox {
    scale: 1.2;
  }

  .special-store-area {
    height: 900px;
  }

  /* 카드 부모박스(플랙스) */
  .col-12.storebox {
    margin-top: -80%;
  }

  /* 글자영역 */
  .store-Tit {
    font-size: 4rem;
    top: 0;
    width: 50%;
  }
  .store-Tit.sub {
    font-size: 1.3rem;
    width: 50%;
    top: -15%;
    left: 40%;
  }

  /* 700미만 돌아가는레터링 오버플로워 히든 */
  .reserve-area.inbox > .cont-box > .col-12 {
    overflow: hidden;
  }

  .special-store-area {
    height: 1000px;
}

.col-12.storebox > .store:nth-child(3).on {
    transform: translate(25%, -40%) rotate(-34deg);
}

.bottom-Tit {
    top: 62%;
    width: 80vw;
}
.box h2 {
  padding-top: 0px;
}

} /***************** 700 px 이하 미디어 쿼리 종료 *****************/

/***************** 650 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 650px) {
  h2.store-Tit {
    top: -3%;
    left: 55%;
}
.store-Tit.sub {
    left: 0;
    width: 100%;
    top: -13%;
}


}
/***************** 650 px 이하 미디어 쿼리 종료 *****************/


/***************** 600 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 600px) {
  h2.store-Tit {
    left:0%;
}
.store-Tit.sub {
    top: -8%;
}

.box.b01 h2 {
  padding-top: 40px;
}
}
/***************** 600 px 이하 미디어 쿼리 종료 *****************/

/***************** 500 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 500px) {
  /***************** 상품정보영역 *****************/
  .cont-box {
    height: 60%;
    flex-direction: column;
  }
  /* 스티키부모박스 */
  .product-area > .cont-box .col-6 {
    flex-basis: 90%;
    flex-shrink: 0;
  }

  .product-area > .cont-box > .col-6 > .pullbox {
    height: 70vh;
  }

  #product-area > section:nth-child(2) > .cont-box > .col-6 > .pullbox > img {
    border-radius: 10px 0px 0px 40%;
  }

  .product-area {
    height: 1800px;
  }

  /* 상품영역별 왼쪽박스 */
  .product-area > .cont-box > .col-6 > .pullbox {
    padding: 49px 0;
  }

  .product-area > .cont-box .col-6:nth-of-type(2) {
    flex-basis: 100%;
    height: auto;
  }

  /* 이미지박스 */
  .product-area > .cont-box .col-6 .imgbox {
    padding-bottom: 5%;
    flex-basis: 50%;
    flex-shrink: 0;
  }

  /* 기존값제거 */
  #product-area > section:nth-child(2) > .cont-box > .col-6 > .pullbox {
    margin-top: auto;
  }
  #product-area > section:nth-child(3) > .cont-box > .col-6 > .pullbox {
    margin-top: auto;
  }

  /* 이미지플랙스박스 */
  #product-area .product-area > .cont-box > .col-6 > .subbox {
    height: auto;
    justify-content: center;
    gap: 5% 0%;
  }
  .product-area:nth-child(1) > .cont-box > .col-6 > .subbox {
    margin-top: 0;
  }

  .cont-box > .col-6 > .subbox {
    height: 100%;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #product-area > section:nth-child(2) > .cont-box {
    flex-direction: column;
  }

  /* 이미지크기 */
  .cont-box > .col-6 > .subbox a {
    width: 90%;
  }

  /* 2,3영역 마진 떙김 */
  .product-area.inbox:nth-of-type(2),
  .product-area.inbox:nth-of-type(3) {
    margin-top: -50%;
  }

  /* 필박스가상요소  */
  .product-area > .cont-box > .col-6 > .pullbox::before {
    font-size: 5rem;
  }

  /* 가상요소 원 */
  .product-area > .cont-box > .col-6 > .pullbox::after {
    top: 3%;
    left: -17%;
    height: 60%;
  }
  .col-12.storebox {
    margin-top: -35%;
  }

  /* 원형떔에 가로스크롤생김 */
  .pullbox {
    overflow: hidden;
  }


  /* 카드 */

  .bottom-Tit {
    top: 100%;
}

  /* 펼쳤을떄 */
  .col-12.storebox > .store:nth-child(2).on {
    transform: translate(-30%, 40%) rotate(-5deg);
  }

  .col-12.storebox > .store:nth-child(3).on {
    transform: translate(25%, 40%) rotate(-34deg);
  }

  .col-12.storebox > .store:nth-child(1).on {
    transform: translate(70%, 150%) rotate(-23deg);
  }

  .col-12.storebox > .store:nth-child(4).on {
    transform: translate(-70%, 150%) rotate(-5deg);
  }

  /* 호버시 */
  .col-12.storebox > .store:nth-child(2).on:hover {
    transform: translate(-30%, 40%) rotate(0deg);
  }

  .col-12.storebox > .store:nth-child(3).on:hover {
    transform: translate(25%, 40%) rotate(0deg);
  }

  .col-12.storebox > .store:nth-child(1).on:hover {
    transform: translate(70%, 150%) rotate(0deg);
  }

  .col-12.storebox > .store:nth-child(4).on:hover {
    transform: translate(-70%, 150%) rotate(0deg);
  }

  .bottom-Tit {
    scale: 0.7;
    top: 95%;
}


/* 랩박스 */
.box p {
  font-size: 1.0rem;
}
} /***************** 500 px 이하 미디어 쿼리 종료 *****************/


/***************** 400 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 400px) {
  h2.store-Tit {
    top: 7%;
}

  .store-Tit.sub {
    font-size: min(3vw, 1.3rem);
    top: 5%;
  }
  .bottom-Tit {
    top: 85%;
}

.col-12.storebox > .store.on:hover~.bottom-Tit {
  display:none;
 }

 .box h2 {
  font-size: 2.5rem;
}

.bottom-Tit {
font-size: 1.7rem;
}
}

/***************** 400 px 이하 미디어 쿼리 종료 *****************/