.cont-box .imgbox:nth-of-type(1) a,
.imgbox:nth-of-type(4) a,
.imgbox:nth-of-type(7) a,
.imgbox:nth-of-type(10) a,
.imgbox:nth-of-type(13) a {
  background-color: var(--fill-color1);
}
.cont-box .imgbox:nth-of-type(2) a,
.imgbox:nth-of-type(5) a,
.imgbox:nth-of-type(8) a,
.imgbox:nth-of-type(11) a {
  background-color: var(--fill-color2);
}
.cont-box .imgbox:nth-of-type(3) a,
.imgbox:nth-of-type(6) a,
.imgbox:nth-of-type(9) a,
.imgbox:nth-of-type(12) a {
  background-color: var(--fill-color3);
}

/* 플랙스박스 */
section.coffeeMenu {
  display: flex;
}
section.coffeeMenu .nav {
  position: sticky;
  top: 0;
}


/* 네비 */
section.coffeeMenu nav {
  text-align: center;
}
/* 메인메뉴li */
section.coffeeMenu nav li {
  position: relative;
  overflow: hidden;
  height: 35px;
  transition: 0.2s ease-in-out;
}


/* 첫메뉴 li */
section.coffeeMenu nav a.liTit{
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 2px solid #222;
  padding-bottom: 5px;
}

/* 서브메뉴 ol */
section.coffeeMenu nav ol {
  position: relative;
  /* top: 100%; */
  left: 0;
  background-color: #fff;
  transition: 0.2s;
  overflow: hidden;
}

section.coffeeMenu nav ol li:hover>a{
  font-weight: bold;
}

section.coffeeMenu nav a {
  font-size: 1.3rem;
  white-space: nowrap;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

/* 네비메뉴 호버시 */
/* section.coffeeMenu nav li:hover > ol {
  height: auto; */
  
  section.sub-coffee-area.inbox>aside{
    display: flex;


  }


/* 상단타이틀 */
section.sub-coffee-area.inbox>aside * {
  flex-basis: 100%;
  background-color: var(--sb-color);
  color: #fff;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: normal;
  padding: 1% 0.5%;
}
section.sub-coffee-area.inbox>aside>div{
  font-weight: normal;

}


/* 그리드박스 */
section.sub-coffee-area.inbox .col-10 {
  padding: 5vw 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
}

/* 그리스박스 상단 타이틀 */
h2.constTit{
  font-size: 1.7rem;
  color: var(--sb-color);
} 

/* 상품개별박스 */
.cont-box .imgbox> a {
  border-radius: 10px 10px 10px 50px;
}

/* 박스호버시 */
.imgbox > a:hover {
  transform:
  translate(0%,-7%) rotate(-5deg);
  transition: 0.3s ease-in-out;
}


div.imgbox>p:first-of-type{
  font-size: 1.3rem;
}

h2.constTit {
    grid-column: 1 / 5;
}

.imgbox img {
  
  border-radius: 10px 10px 10px 50px;
  width: 100%;
  transition: all 0.2s ease-in-out 0s;
}

.imgbox > a {
  display: block;
  width: 100%;
}
/* 상품호버시 액션 */
.imgbox img:hover {
    transform: scale(1.1) rotate(10deg) translate(0%,-7%);
    filter: drop-shadow(rgba(0, 0, 0, 0.74) 10px 0px 3px);
}


/***************** 1000 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 1000px) {
  /* 그리드 단줄이기 */
  section.sub-coffee-area.inbox .col-10 {
    grid-template-columns: repeat(3, 1fr);
  }
  h2.constTit {
    grid-column: 1 / 4;
}
}
@media screen and (max-width: 800px) {
  /* 그리드 단줄이기 */
  section.sub-coffee-area.inbox .col-10 {
    grid-template-columns: repeat(2, 1fr);
  }
  h2.constTit {
    grid-column: 1 / 3;
}
}
@media screen and (max-width: 600px) {

    section.coffeeMenu nav {
      
    width: 100%;
    font-size: 1.3rem;
}
    
  /* 플랙스박스 */
  section.coffeeMenu {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  section.coffeeMenu section.coffeeMenu nav {
    width: 100%;
  }
}
